{% load bootstrap4 %}

<style>


body {
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
       
        line-height: 1.5;
      
        overflow-x: hidden;
    }
    p{
        color: white;
        padding-top: 400px;
        padding-left: 500px;
        font-weight: 900;
        font-size: 50px;

    }
</style>
<div class="homepage"
    style="background: url(https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80) center center no-repeat; background-size:cover; height: 1000px; width: 100%;">
    <div class="header-content text-md-center">
        <p><span style="padding-left: 300px;">WELCOME TO</span><br>
    THE LEAVE MANAGMENT SYSTEM
        </p>
    
    </div>
</div>