{% extends "sanergytemplates/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="padding-top: 200px;">
<div class="row">
<div class="col-4"></div>
<div class="col-4">

    <!-- <div> 
        {% if not status %} 
            <a href="/gmailAuthenticate" onclick="gmailAuthenticate()" title="Google">Google</a> 
        {% else %} 
            <p>Your are verified</p> 
        {% endif %} 
      </div>  -->
      
      <div class="content-section">
        {% if user.is_authenticated %}
        <p>{{ user.username }}</p>  

        {% else %}
        <a class="btn btn-sm" href="{% url 'social:begin' 'google-oauth2' %}">
          <p>Google+ Sign In</p>
        </a>
        {% endif %}

        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>

          </div>
        </form>
        <div class="border-top pt-3">

        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

{% endblock content %}