{% extends "admin/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}

 <div class="admin" style="padding-top: 100px; padding-left:30px;padding-right: 30px;">
        <h1>THIS IS EMPLOYEE MANAGEMENT SIDE</h1>
        <a href="{% url 'addEmployee' %}", class="btn btn-danger" >Add Employee</a>
        <td>  </td>
        <table>
            <tr style="font-size: 40px; text-align: center; font-family: 'PT Sans', sans-serif;">
                <th>Employee </th>
                <th>Type</th>

                
            </tr>
            {% for emp in all_users %}
            <tr style="font-family: 'Be Vietnam', sans-serif; font-size:21px; font-weight:500; text-align: center;">
               
                <td>{{emp.user.}}</td>
                <td> {{emp.email}}</td>
                            
            </tr>
            {% endfor %}

        </table>
    </div>

{% endblock content %}