

  <nav style="color: white;" class="navbar" style="font-size: 25px; font-family: 'Nunito', sans-serif;">
 
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
      
            <a class="nav-link" href="{% url 'apply_leave' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="dropdown-item" href="{% url 'profile'%}">{{user.username}}</a>
          </li>
        
          <li class="nav-item">
            <a class="dropdown-item" href="{% url 'apply_leave' %}">logout</a>
          </li>
          {% else %}
         
          <li>
            <a class='btn btn-default' href="{% url 'login' %}">Login</a>
          </li>
    
          {% endif %}
    
      </div>
    
      </div>
    </nav>





